.no-border {
    border: none !important;
}
.w100p {
    width: 100% !important;
}
.no-filter-height {
    width: 100% !important;
    height: 2.25rem;
}
.padding-t0 {
    padding-top: 0px !important;
}
.padding-b0 {
    padding-bottom: 0px !important;
}
.padding-l0 {
    padding-left: 0px !important;
}
.cap-placeholder {
    text-transform: uppercase;
    line-height: 1.25rem !important;
}
.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
.image-resize-270px {
    object-fit: cover;
    width: 100%;
    height: 270px !important;
    max-height: 270px !important;
}
.text-center {
    text-align: center;
}
.center-div {
    margin: 31% 25% !important;
}
.display-none {
    display: none;
}
.action-header {
    min-width: 16vw;
}
.font25 {
    font-size: 25px;
}
.list-number{
    margin-top: 3px;
    font-size: 15px;
    border: 1px solid #000;
    border-radius: 50%;
    padding: 3px 10px;
}
.error-report {
    border-color: red !important;
}
.custom-dashboard-number {
    line-height: 2.15;
    font-size: 25px;
}
.ghost-select {
    line-height: 1.4 !important;
    -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.disabled-but-white {
    background-color:transparent !important;
}